$color-primary: #fff;
$color-orange: hsl(12, 88%, 59%);
$color-blue-dark: hsl(228, 39%, 23%);
$color-black-light: hsl(233, 12%, 13%);
$color-grey: hsl(13, 100%, 96%);
$color-grey-dark: hsl(227, 12%, 61%);
$color-grey-light: hsl(0, 0%, 98%);

$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-medium: 0 2rem 6rem rgba(0, 0, 0, 0.15);
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.07);

// BREAKPOINTS ;
$bp-large: 1000px;
$bp-mobile: 500px;
